.cart-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: medium;
    color: rgb(93, 93, 93);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}    
.cart-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:black;
}

.cart-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color:rgb(93, 93, 93)
}

.cart-icon:hover{
    cursor: pointer;
}

.cart-icon-quant{
    margin-bottom: 0%;
    justify-self: center;
}

.carrito-text{
    display: inherit;
    margin: 0%;
}

@media (max-width: 576px) {
    .cart-icon-container{
      display: none;
    }
  }