.cart-item-cont{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.cart-img{
    grid-column: 2/4;
    width: 100px;
}

.cart-prod-info{
    grid-column: 4/9;
}

.prod-sub-price{
    grid-column: 9/10;
    justify-self: end;
}
.prod-amount{
    grid-column: 10/11;
    justify-self: end;
}
.prod-price{
    grid-column: 11/13;
    justify-self: end;
}

.cart-clear-btn{
    grid-column: 1/2;
    width: 36px;
    height: 36px;
    left: 689px;
    top: 429px;
    border: 0;
    border-radius: 50%;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.386);
    transition: 300ms;
}

.cart-clear-btn:hover{
    background-color: rgba(255, 0, 0, 0.795);
}

/* .cart-clear-btn :hover{
    background-color: rgba(173, 173, 173, 0.386);
  
} */


.underline-1rem{
    margin-bottom: 1rem;
    border-bottom: solid 1px rgb(200, 200, 200);
}


