.cart-item-cont{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.cart-img{
    grid-column: 1/3;
    width: 100px;
}

.cart-prod-info{
    grid-column: 3/9;
}
.prod-amount{
    grid-column: 9/10;
}
.prod-price{
    grid-column: 10/12;
}

.clear-btn{
    grid-column: 12/13;
    width: 36px;
    height: 36px;
    left: 689px;
    top: 429px;
    
    background: #d91e1e;
    border-radius: 5px;
}