.cart-item-cont{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.cart-widget-img{
    grid-column: 2/3;
    width: 100px;
}

.cart-widget-prod-info{
    grid-column: 4/7;
}

.prod-widget-sub-price{
    grid-column: 7/9;
    justify-self: end;
}
.prod-widget-amount{
    grid-column: 9/10;
    justify-self: end;
}
.prod-widget-price{
    grid-column: 10/13;
    justify-self: end;
}

.cart-widg-clear-btn{
    grid-column: 1/2;
    width: 36px;
    height: 36px;
    left: 689px;
    top: 429px;
    border: 0;
    background-color: rgba(240, 248, 255, 0.386);
    border-radius: 50%;
}

.underline-1rem{
    margin-bottom: 1rem;
    border-bottom: solid 1px rgb(200, 200, 200);
}