.flex-cont{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 99;
}

.confirmation-cont{
    box-shadow: 0px 0px 15px rgb(176, 176, 176);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 30vh;
    transition: 0.3s;
    padding: 1rem;
}

.underline-2rem{
    margin-bottom: 1rem;
    border-bottom: solid 2px rgb(200, 200, 200);
}