.item-detail-cont{
    display: flex;
    flex-direction: row;
    margin-top: 12rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.item-detail{
    flex-direction: column;
}

.with-50-pc{
    width: 50%;
}

.item-detail-img{
    width: 100%;
}

.text-start{
    text-align: start;
}

.item-detail-price{
    font-size: xx-large;
}

@media (max-width: 768px){
    .item-detail-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        width: min (60rem, 100%);
        
    }
    
    .item-detail{
        flex-direction: column;
    }
    
    .with-50-pc{
        width: 90%;
    }
    
    
}
