.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin-top: 12rem;
    margin-left: 15rem;
    margin-right: 15rem;
    
    
}

.title{
    grid-column: 1/4;
    justify-self: start;
}

