.logo-cont{
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 5rem;
}

.foto-consult{
    border-radius: 50%;
}

.logo-sz{
    width: 100px;
}

@media (max-width: 576px) {
    .logo-cont{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
    
  }
