.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: medium;
    color: rgb(93, 93, 93);
    text-decoration: none;  
}

.nav-link:hover{
    color: #444444;
    font-weight:600;
}

.menu-link-smaller{
    font-size: smaller;
}




