header{
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  }
.menu-cont{
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  padding-right: 20%;
  background-color: rgb(241, 241, 241);
}

.one {
  grid-column: 1 / 2;
  size: 100px;
}
.two {
  grid-column: 2 / 3;

}

.shadow{
  box-shadow: -10px 5px 20px black;
  z-index: 500;
}
