.navbar{
    display: flex;
    justify-content: center;
}
.container-serch {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
.input-sz{
    grid-column: 1 / 7;
    transition: 0.3s;

}
.input-sz:focus{
    box-shadow: 0px 0px 25px rgb(176, 176, 176);
}

.btn-sz{
    grid-column: 6 / 7;
}

